<div class="container mt-4">
    <div class="row">
        <div class="col">
            <form>
                <input #termino (keyup)="getPais(termino.value)" class="form-control" type="text"
                    placeholder="Ingrese pais">
            </form>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading">
    <div class="container mt-4">
        <div class="card-columns mt-3">
            <ng-container *ngFor="let pais of resultado">
                <app-card [pais]="pais"></app-card>
            </ng-container>
        </div>
    </div>
</div>