<div class="card">
    <img src={{pais.flag}} class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{pais.name}}</h5>
        <p class="card-text"> <strong>Capital: </strong> {{pais.capital}}</p>
        <p class="card-text"> <strong>Continente: </strong> {{pais.region}}</p>
        <a><button class="btn-block btn-primary" (click)="irAPais()">Mas Info</button></a>
    </div>
</div>