<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" (click)="atras()">Atras</button>
            </div>
        </div>

        <div class="row mt-4 text-center">
            <div class="col">
                <img [src]=pais.flag class="imagen">
            </div>
        </div>

        <div class="row text-center mt-2">
            <div class="col">
                <h1>{{pais.name}}</h1>
            </div>
        </div>

        <div class="row text-center mt-2">
            <div class="col">
                <h5>Capital: {{pais.capital}}</h5>
                <h5>Continente: {{pais.region}}</h5>
                <h5>Poblacion: {{pais.population | number}}</h5>
                <h5>Monedas: </h5>
                <h5 *ngFor="let moneda of pais.currencies">{{moneda.name}} - {{moneda.symbol}}</h5>
                <h5>Idiomas: </h5>
                <h5 *ngFor="let idioma of pais.languages">{{idioma.name}}</h5>
            </div>
        </div>

    </div>
</div>