<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div *ngIf="!loading">
    <div class="container">
        <div class="card-columns mt-4">
            <ng-container *ngFor="let pais of paises">
                <app-card [pais]="pais"></app-card>
            </ng-container>
        </div>
    </div>
</div>