<div class="container mt-5">
    <div class="row text-center">
        <div class="col">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
